<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
  <preference for="Test\TestApi\Api\TestApiManagementInterface" type="Test\TestApi\Model\Api\TestApiManagement" />
  <preference for="Test\TestApi\Api\Data\TestApiInterface" type="Test\TestApi\Model\TestApi" />
</config>
